/* Oculta o card do usuário quando a página é carregada */

#userCard {
    display: none;
}

.user-box {
    display: table;
    margin: auto;
    background-color: #ddd;
    border-radius: .35rem;
}

.user-box img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    border-radius: .3rem .3rem 0 0;
}

.user-box h4 {
    margin: .5rem 1rem 1rem 1rem;
}

.user-box ul {
    padding: 0 1rem 1rem 2rem;
    margin: 0;
    font-size: small;
}

article button {
    color: white;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
}

#btnGoogleProfile {
    background-color: steelblue;
}

#btnLogout {
    background-color: orangered;
}